
:root {
  --main-bg-color: #fff;
  --video-description-bg-color: #e6ce00;
  --right-slides-bg-color: rgba(0, 122, 255, 0.8);
  --right-slides-bg-selected: #0054e6;
  --video-description-bg-color: #c6c6c6;
  --light-text-color: #fff;
  --playpause-text-color: #aaa;
  --title-font-family: "Raleway", Helvetica, Arial, sans-serif;
  --title-font-weight: 700;
  --title-font-size: 2rem;
  --title-font-color: #333;
  --running-font-family: 'Roboto', Helvetica, Arial, sans-serif;
  --running-font-weight: 400;
  --running-font-size: 1.4rem;
  --running-font-color: #000;
  --title-letter-spacing: .05000rem;
  --p-line-height: 2rem;
  --small-font-size: .9rem;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

}
.slick-arrow.slick-hidden {
    display: none;
}
