.photos {
  border: 0;
  border-radius: 5px;
  align-items: center;
}

.thumbnails {
  margin-top: 10px;
}

.photos img {
  border-radius: 3px;
}

.thumbnails img {
  border-radius: 3px;
  height: 10vh;
  margin: 10px;
}

.progressBar {
  height: 100%;
  font-size: 57%;
}

.progress {
  border: 1px solid grey;
  width: 100%;
  height: 10px;
  margin: auto;
  margin-bottom: 10px;
  background: lightgrey;
}

.active {
  width: calc(100vh - 100px);
  max-width: 1000px;
}
