.photos{
	border: 0;
  border-radius: 5px;
}

.thumbnails {
	margin-top: 10px;
}

.photos img {
	margin: 10px;
	border-radius: 3px;

}

.thumbnails img {
	border-radius: 3px;
  height: 69px;
	margin: 10px;
}



.progressBar {
	height: 100%;
	font-size: 57%;
}

.progress {
	border: 1px solid grey;
	width: 857px;
	height: 10px;
	margin: auto;
	margin-bottom: 10px;
	background: lightgrey;
}

.active {
	border: 5px solid green !important;
}
