/* Begin Syntax highlighting for codesnippets */
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #282a36;
  }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-literal,
  .hljs-section,
  .hljs-link {
    color: #8be9fd;
  }

  .hljs-function .hljs-keyword {
    color: #ff79c6;
  }

  .hljs,
  .hljs-subst {
    color: #f8f8f2;
  }

  .hljs-string,
  .hljs-title,
  .hljs-name,
  .hljs-type,
  .hljs-attribute,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-tag,
  .hljs-template-variable {
    color: #f1fa8c;
  }

  .hljs-comment,
  .hljs-quote,
  .hljs-deletion,
  .hljs-meta {
    color: #6272a4;
  }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-literal,
  .hljs-title,
  .hljs-section,
  .hljs-doctag,
  .hljs-type,
  .hljs-name,
  .hljs-strong {
    font-weight: bold;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  /* END Syntax highlighting for codesnippets */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');

:root {
  --main-bg-color: #fff;
  --video-description-bg-color: #fff;
  --right-slides-bg-color: rgba(0, 122, 255, 0.8);
  --right-slides-bg-selected: #0054e6;
  --video-description-bg-color: #fff;
  --light-text-color: #fff;
  --playpause-text-color: #aaa;
  --title-font-family: "Raleway", Helvetica, Arial, sans-serif;
  --title-font-weight: 700;
  --title-font-size: 2rem;
  --title-font-color: #333;
  --running-font-family: "Roboto", Helvetica, Arial, sans-serif;
  --running-font-weight: 400;
  --running-font-size: 1.4rem;
  --running-font-color: #000;
  --title-letter-spacing: .05000rem;
  --p-line-height: 2rem;
  --small-font-size: .9rem;
}

h3 {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
}
p {
  font-family: var(--running-font-family);
  font-weight: var(--running-font-weight);
}
