@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');

body {
  background-color: #04262D;
  font-family: 'Dosis', sans-serif;

}

.App {
margin: 30px auto;
width: 100%;
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 1%;
  padding-left: 2%;
}

.column1 {
  /* background-color: #F2F2EF; */
  padding: 15px;
}

.column2 {
  /* background-color: #F2F2EF; */
  padding: 15px;
}

.video-description {
  margin-top: 10px;
  padding-left: 8px;
  border: 1px solid #D6D858;
  border-radius: 5px;
  font-size: 1.6em;
  font-weight: 400;
  background-color: #D6D858;
  color: #1D3E6D;
}


.video-description h3 {
  margin-bottom: 1px;
  font-weight: 600;
  font-size: 1.5em;
}


.video {
  width: 100% !important;
  min-height: 500px !important;
}

.slide-icon {
  vertical-align: middle;
  padding: 0;
}

.slide {
  border: 1px solid #A8DADC;
  padding-bottom: 3%;
  padding-left: 8px;
  display: grid;
  grid-template-columns: 10% 90%;
  border-radius: 5px;
  background-color: #A8DADC;
  margin-bottom: 15px;
  color: #1D3E6D;
  font-size: 1.4em;
  font-weight: 100;

}

.slide:hover {
  background-color: #1A6D89;
  border: 1px solid #1A6D89;
  color: #fff;
}

.slide-text {

}

.slide-text h3 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1.4em;;
}


.icon {
  width: 30px;
  padding-top: 85%;
}
