@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');

:root {
  --main-bg-color: #fff;
  --video-description-bg-color: #fff;
  --right-slides-bg-color: rgba(0, 122, 255, 0.8);
  --right-slides-bg-selected: #0054e6;
  --video-description-bg-color: #fff;
  --light-text-color: #fff;
  --playpause-text-color: #aaa;
  --title-font-family: "Raleway", Helvetica, Arial, sans-serif;
  --title-font-weight: 700;
  --title-font-size: 2rem;
  --title-font-color: #333;
  --running-font-family: "Roboto", Helvetica, Arial, sans-serif;
  --running-font-weight: 400;
  --running-font-size: 1.4rem;
  --running-font-color: #000;
  --title-letter-spacing: .05000rem;
  --p-line-height: 2rem;
  --small-font-size: .9rem;
}

.title {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  font-size: 2.2rem;
  margin-bottom: 15px;

}

.subtitle {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text {
  font-family: var(--running-font-family);
  font-weight: var(--running-font-weight);
  font-size: 1.3rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

.img-fluid {
  width: 20vh;
}

.flex-grow {
  flex-grow: 1;
}
