.repo {
  height: 80%;
  overflow: hidden;
  overflow-y: scroll;
}
.overflow-hidden {
  overflow: hidden;
}
.overflowy-scroll {
  overflow-y: scroll;
}
.w-1 {
  width: 1em
}
.w-2 {
  width: 2em
}
.w-3 {
  width: 3em
}
.w-4 {
  width: 4em
}
.w-5 {
  width: 5em
}
